@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Roboto";
}

body {
  background: #000124;
  font-family: "Roboto";
  color: #ffffff;
  overflow: hidden;
  height: 100vh;
  overflow: hidden;
}

.topRight {
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  top: 5%;
  left: 95%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.bottomLeft {
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  top: 95%;
  left: 5%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #37384a;
  opacity: 0.87;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

header ul {
  margin-top: 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

header ul li a:hover {
  font-weight: bolder;
  color: #ffffff;
}

.Main {
  background: #37384a;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 550px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 5.74% / 5.74%;
}

.Main .ThemeBtn {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  left: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: box-shadow 0px 0px 0px black;
          transform: box-shadow 0px 0px 0px black;
}

.Main .ThemeBtn :hover {
  -webkit-transform: box-shadow 0px 0px 10px black;
          transform: box-shadow 0px 0px 10px black;
}

.Main .Heading {
  position: relative;
  padding-top: 80px;
  text-align: center;
  font-size: 36px;
}

.Main table {
  padding-top: 8.1%;
  padding-bottom: 4.3%;
  text-align: center;
}

.Main table td {
  padding-left: 5px;
  font-size: 25px;
}

.Main table td .fa {
  font-weight: 400;
  font-size: 28px;
  color: #ffffff;
}

.Main table td input {
  font-size: 25px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.Main table td input:focus {
  -webkit-box-shadow: 2px 2px 3px;
          box-shadow: 2px 2px 3px;
  font-size: 28px;
  font-weight: bold;
}

.Main table td textarea {
  font-size: 25px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.Main table td textarea:focus {
  -webkit-box-shadow: 2px 2px 3px;
          box-shadow: 2px 2px 3px;
  font-size: 28px;
  font-weight: bold;
}

.Main table td .Btn {
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 99px;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  background: #1318a0;
  -webkit-transition: all 0.5 ease-in;
  transition: all 0.5 ease-in;
  color: #e5e5e5;
}

.Main table td .Btn:hover {
  padding-left: 21px;
  padding-right: 21px;
  font-weight: 900;
}

.Main .bottomText {
  padding-bottom: 19.4%;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: bold;
}

.Main .bottomText a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  opacity: 75%;
}
/*# sourceMappingURL=newStyle.css.map */