@import "Defaults.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

$i: "light";
$j: "dark";
* {
  padding: 0px;
  margin: 0px;
}

*::-webkit-scrollbar {
  width: 3px;
  border-radius: 50%;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
:root {
  height: 100%;
  html {
    height: 100%;
  }
}
.Card {
  display: flex;
  pointer-events: none;
  height: fit-content;
  align-items: center;
  padding: 10px;
}
body {
  overflow: hidden;
  background-color: map-get($Body, $i);
  padding: 15px;
  display: flex;
  section#main {
    display: flex;
    position: relative;
    color: map-get(map-get($Text-Font, $i), "FontColor");
    font-family: map-get(map-get($Text-Font, $i), "fontFace");
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
    height: 100%;
  }
  section#main > article {
    // This is going to be the username panel
    display: flex;
    position: relative;
    flex: 1;
    float: left;
    width: 37%;
    min-width: 350px;
    min-height: 500px;
    background-color: map-get($Main, $i) !important;
    border: 2px solid map-get(map-get($Text-Font, $i), "FontColor"); // Need to remove right border
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;
    section {
      display: flex;
      flex-direction: column;
      width: 100%;
      header {
        padding: 10px;
        border-bottom: 2px solid black;
        .searchUser {
          width: 100%;
          padding-top: 20px;
          font-size: 24px;
          form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
              background: map-get($Body, $i) !important;
              font-size: 24px;
              border: none;
              border-radius: 5px;
              padding: 5px;
              margin: 0px 20px;
              width: 100%;
              color: black;
            }
          }
        }
      }
      main {
        height: 100%;
        .Connections {
          display: flex;
          flex-direction: column;
          width: 100%;
          overflow-y: scroll;
          position: relative;
          height: 100%;
          .Card {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
  section#main > aside {
    display: flex;
    flex: 2;
    section {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: map-get($Main, $i) !important;
      position: relative;
      border-radius: 0px 5px 5px 0px;
      position: relative;
      height: 100%;
      header {
        border: 2px solid black;
      }
      main {
        display: flex;
        flex-grow: 1;
        position: relative;
        height: 100%;
        width: 100%;
        .messageWindow {
          overflow-y: scroll;
          position: relative;
          width: 100%;
          height: 100%;
          border-left: 2px solid black;
          border-right: 2px solid black;
          background-image: linear-gradient(
            135deg,
            map-get($Main, $i),
            map-get($Body, $i)
          );
        }
      }
      footer .messageInput form {
        padding: 5px;
        border: 2px solid black;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        input {
          padding: 5px;
          width: 100%;
          margin: auto 10px;
          background-color: map-get($Body, $i) !important;
          border: 1px solid black;
        }
        button {
          padding: 0px 13px;
          font-size: 1.5em;
          background-color: map-get($Main, $i);
          border: none;
        }
      }
    }
  }

  .profilePic {
    padding: 2px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: map-get($Body, $i);
    width: 40px;
    height: fit-content;
  }
  .UserName {
    margin-left: 10px;
    font-size: 2em;
    font-weight: 900;
  }
  table {
    width: 100%;
  }
}
input {
  outline: none;
  color: black;
  padding: 5px;
  font-size: 1.5em;
}
