//Dark Theme || Light Theme
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
$Body: (
  "dark": #000124,
  "light": #ffffff,
);
$Main: (
  "dark": #37384a,
  "light": #e5e5e5,
);
$i: "dark";
$Text-FontDark: (
  "fontFace": "Roboto",
  "fontColor": #ffffff,
  "fontAnchor": #ffffff,
);
$Text-FontLight: (
  "fontFace": "Roboto",
  "fontColor": #000000,
  "fontAnchor": #1318a0,
);
$Text-Font: (
  "dark": $Text-FontDark,
  "light": $Text-FontLight,
);

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: map-get(map-get($Text-Font, $i), "fontFace");
}
//body and background...
body {
  background: map-get($Body, $i);
  font-family: map-get(map-get($Text-Font, $i), "fontFace");
  color: map-get(map-get($Text-Font, $i), "fontColor");
  overflow: hidden;
  height: 100vh;
  overflow: hidden;
}
.topRight {
  position: absolute;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  top: 5%;
  left: 95%;
  transition: all 0.5s linear;
}
.bottomLeft {
  position: absolute;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  top: 95%;
  left: 5%;
  transition: all 0.5s linear;
}

//Main login form
.Main {
  background: map-get($Main, $i);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 550px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 5.74% / 5.74%; //Horizontal radius vertical radius.
  .Heading {
    padding-top: 24.1%;
    text-align: center;
    font-size: 36px;
  }
  table {
    padding-top: 8.1%;
    padding-bottom: 4.3%;

    text-align: center;
    td {
      padding-left: 5px;
      .fa {
        font-weight: 400;
        font-size: 28px;
        color: map-get(map-get($Text-Font, $i), "fontColor");
      }
      input {
        font-size: 25px;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
        transition-duration: 250ms;
        &:focus {
          box-shadow: 2px 2px 3px;
          font-size: 28px;
          font-weight: bold;
        }
      }
      .Btn {
        padding-left: 17px;
        padding-right: 17px;
        border-radius: 99px;
        padding-top: 10px;
        margin-top: 10px;
        padding-bottom: 10px;

        background: #1318a0; //since this is not changing in any theme
        transition: all 0.5 ease-in;
        color: #e5e5e5;
        &:hover {
          padding-left: 21px;
          padding-right: 21px;
          font-weight: 900;
          // box-shadow: 2px 2px 5px black;
        }
      }
    }
  }
  .bottomText {
    padding-bottom: 19.4%;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: bold;
    a {
      text-decoration: none;
      font-weight: bold;
      color: map-get(map-get($Text-Font, $i), "fontAnchor");
      opacity: 75%;
    }
  }
}
//
//<span aria-label="You:"></span><div class="_22Msk"><div class="copyable-text" data-pre-plain-text="[13:45, 24/09/2021] BANE!!: "><div class="_1Gy50"><span dir="ltr" class="i0jNr selectable-text copyable-text"><span><a href="https://www.youtube.com/watch?v=jcOKU9f86XE" title="https://www.youtube.com/watch?v=jcOKU9f86XE" target="_blank" rel="noopener noreferrer" class="i0jNr selectable-text copyable-text">https://www.youtube.com/watch?v=jcOKU9f86XE</a></span></span><span class="_20bHr _2ui2p"></span></div></div><div class="_1beEj"><div class="_15K2I" role="button"><span class="kOrB_" dir="auto">13:45</span><div class="_2F01v"><span data-testid="msg-check" aria-label=" Sent " data-icon="msg-check" class=""><svg viewBox="0 0 16 15" width="16" height="15" class=""><path fill="currentColor" d="M10.91 3.316l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span></div></div></div></div><span></span>
